@import './../../../../assets/scss/base';

.ig-gallery-list {
	.ig-content {
		background-color: var(--c4);
		border-radius: 0 0 10px 10px;
		margin: 5px 0 15px;
		padding: 22px;

		.ig-items {
			.ig-item {
				align-items: stretch;
				background-color: var(--c4);
				color: var(--c2);
				cursor: pointer;
				display: flex;
				position: relative;

				img {
					display: block;
					margin: 0 auto;
					object-fit: cover;
					width: 100%;
				}

				h4 {
					background-color: var(--c5);
					bottom: 0;
					color: var(--c2);
					font-size: fontSize(13px);
					left: 0;
					margin: 0;
					opacity: .9;
					padding: 5px;
					position: absolute;
					right: 0;
					text-align: center;
				}

				&:hover {
					img {
						filter: brightness(110%);
					}

					h4 {
						opacity: 1;
					}
				}
			}
		}

		.ig-error {
			background-color: var(--c1);
			margin-bottom: 0;
			padding: 15px;
			word-break: break-word;

			h3 {
				color: var(--c6);
				font-size: fontSize(20px);
				margin: 0;
			}

			p {
				color: var(--c6);
				font-size: fontSize(15px);
				margin: 5px 0 0;
			}
		}

		.ig-load-more {
			background-color: var(--c1);
			margin-top: 22px;
			padding: 15px 0;
			text-align: center;
			width: 100%;
		}
	}

	.ig-page-top {
		bottom: 15px;
		position: fixed;
		right: 20px;

		button {
			background-color: var(--c4);
			border-radius: 4px;
			border: none;
			box-shadow: none;
			cursor: pointer;
			font-size: fontSize(15px);
			height: 40px;
			outline: 0;
			width: 40px;

			img {
				display: block;
			}
		}
	}
}
