@import '../../../../assets/scss/base/index';

.wf-form {
	margin-top: 30px;

	.wf-input {
		background-color: var(--c2);
		border-radius: 2px;
		box-shadow: 2px 1px 4px 1px var(--c3);

		&::before {
			display: none;
		}
	}
}
